.foto {
  display: block;
  margin: 20px auto;
  width: 300px;      
  height: auto;
  border: 6px solid #2ecc71;
}

h1{
    text-align: center;
}
body{
    
    background-color: black;
    color: white;
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}
a{
color:white;
text-decoration: none;
}
.fot{
    width: 400px;
    height: 300px;
    display: block;
    margin: 20px auto;
}
.leg1{
    text-align: center;
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
}
.leg2{
    text-align: center;
    font-size: 14px;
    color: white;
    margin-top: 10px;
}
.fot2{
    width: 400px;
    height: 300px;
    display: block;
    margin: 20px auto;
}
#som {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#s1{
    text-align: center;
}
#cao{
    width: 400px;
    height: 300px;
    display: block;
    margin: 20px auto;
}
.leg3{
    text-align: center;
}